<h1>Checking for understanding</h1>

<hr>

<div>
    <form action="/create" method="POST">
        <div>
            <label for="age-input">Age</label>
            <input id="age-input" name="theAge" type="number">
        </div>
        <button type="submit">Send age info</button>
        <br />
        <small>Once you think you solved question 4, check your terminal for the output.</small>
    </form>
</div>




<hr>

{{!-- 5: Create a new form in the `index.hbs` where user should be able to input their full name and 
full address (we need input field for the street, street number, city, zip code and country). 
Then create a route in the `app.js` where anything user inputted would be available.  --}}